<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static '/images/student.png' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{context}}</title>
      <style>
          .b0{border-radius:0}
          .root-mid-level{margin-top: 18.3333vh;}
          .logo{width: 90px;}
      </style>
  </head>
  <body>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 root-mid-level d-flex flex-column">
                <img src='{% static "/images/student.png" %}' alt="My image" class = "logo align-self-center">
                <h4 class="text-success">{{context}}</h4>
                <div class="alert alert-primary b0">
                    Enter Student Details Here to Register
                </div>
                {% if request.session.response.code == 1 %}
                    {% include "./partials/success_msg.html" with msg=request.session.response.msg %}
                {% endif %}

                {% if request.session.response.code == 0 %}
                    {% include "./partials/error_msg.html" with msg=request.session.response.msg %}
                {% endif %}

                <form method="post" action="new-user">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <input type = "text" class="form-control my-1 b0" placeholder="Enter First Name" name = "firstName" required/>
                        </div>
                        <div class="col-md-6">
                            <input type = "text" class="form-control my-1 b0" placeholder="Enter Last Name" name = "lastName" required/>
                        </div>
                    </div>
                    <input type="number" min = 0 class="form-control my-1 b0" placeholder="Current Class" name = "currentClass" required/>
                    <input type="text" class="form-control my-1 b0" placeholder="Current Stream" name = "currentStream" required/>
                    <input type="email" class="form-control my-1 b0" placeholder="Email Address" name = "emailAddress" required/>
                    <label class="text-primary">Date Of Birth</label>
                    <input type="date" class="form-control my-1 b0" placeholder="Date Of Birth" name = "dateOfBirth" required/>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-success b0 form-control" type="submit">Enter</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-secondary b0 form-control" type="reset">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>