{% extends "./index.html" %}
{% block content%}
{% load static %}
<div class="row d-flex justify-content-center">
    <div class="col-md-6 root-mid-level d-flex flex-column">
        <img src='{% static "/images/student.png" %}' alt="My image" class = "logo align-self-center">
        <h4 class="text-success">{{context}}</h4>
        <div class="alert alert-primary b0">
            Enter Student Details Here to Register
        </div>
        {% if request.session.response.code == 1 %}
            {% include "./partials/success_msg.html" with msg=request.session.response.msg %}
        {% endif %}

        {% if request.session.response.code == 0 %}
            {% include "./partials/error_msg.html" with msg=request.session.response.msg %}
        {% endif %}

        <form method="post" action="new-user">
            {% include "./partials/user_form_details.html" %}
        </form>
    </div>
</div>
{% endblock %}