{% extends "./index.html" %}
{% block content%}
{% load static %}
<div class="row d-flex justify-content-center">
    <div class="col-md-6 root-mid-level d-flex flex-column">
        <img src='{% static "/images/student.png" %}' alt="My image" class = "logo align-self-center">
        <h4 class="text-success">{{context}}</h4>
        <div class="alert alert-info b0">
            Enter Student Details Here to Register
        </div>
        {% include "./partials/response_messages.html" %}
        <form method="post" action="new-user">
            {% include "./partials/user_form_details.html" with student=student%}
        </form>
    </div>
</div>
{% endblock %}